<div class="bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-[#0c0c0c] via-[#000000] to-[#0c0c0c] h-full md:h-screen w-full flex flex-col items-center justify-center pt-16 md:pt-0">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 w-full justify-center items-center">
        <div class="w-[90%] md:w-[80%] m-auto">
            <h1 class="text-4xl md:text-5xl font-bold text-[#0394d6]">BIENVENIDO A PYTHON</h1>
            <p class="text-[16px] md:text-[19px] text-white">
                Lenguaje de programación interpretado de alto nivel, diseñado para ser fácil de aprender y usar. 
                Es un lenguaje de programación de alto nivel, con una sintaxis clara y legible, que permite crear 
                programas de una forma sencilla y concisa. <br>
                <b>Aquí encontrarás ejemplos de código en Python, que te ayudarán a aprender y a crear tus propios programas.</b>
            </p>
        </div>
        <div class="w-[90%] m-auto ">
            <img src="./bg.jpg" alt="" class=" clip-triangle w-full h-auto bg-gradient-to-t  from-black via-transparent to-transparent opacity-50">
            
        </div>
    </div>
</div>

<style>
    .clip-triangle {
        clip-path: polygon(80% 0, 100% 9%, 100% 49%, 100% 98%, 80% 90%, 50% 100%, 20% 90%, 0 100%, 0 11%, 18% 1%);

}
</style>


